* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial;
}

body {
  background: linear-gradient(180deg, #0a1030, #050816);
  color: white;
  overflow-x: hidden;
}

/* BG */
.bg-circle {
  position: fixed;
  right: -120px;
  bottom: -120px;
  width: 600px;
  opacity: 0.25;
  z-index: -1;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: black;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.login-btn {
  background: #ff6b2c;
  padding: 10px 22px;
  border: none;
  color: white;
  border-radius: 6px;
  width: auto;
  cursor: pointer;
}

/* MAIN */
.container {
  padding: 80px;
  max-width: 900px;
  position: relative;
}

.arrow-down {
  position: absolute;
  right: 20px;
  top: 120px;
  width: 60px;
  animation: float 2s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

h1 {
  font-size: 52px;
}

h1 span {
  color: #ff6b2c;
  text-shadow: 0 0 15px #ff6b2c;
}

.section-title {
  margin-top: 30px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

/* FORM */
form {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.03);
  padding: 30px;
  border-radius: 12px;
}

.row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  margin-bottom: 18px;
}

input,
select {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #111a3d;
  color: white;
}

form button {
  width: 100%;
  padding: 16px;
  background: #ff6b2c;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.fileName {
  font-size: 12px;
  margin-top: 5px;
  color: lightgray;
}

#successMsg {
  color: lightgreen;
  margin-top: 10px;
}

/* CONTACT */
.contact {
  background: white;
  color: black;
  padding: 60px 80px;
  margin-top: 80px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}

.contact button {
  background: black;
  color: white;
  margin-top: 10px;
}

/* FOOTER */
footer {
  background: black;
  padding: 50px 80px;
}

.socials img {
  width: 28px;
  margin-right: 15px;
  cursor: pointer;
}
